<footer class="footer">
  <ul class="footer__list" role="list">
    <li><a href="https://unravelurl.com/" >Unravel URL</a> by <a href="https://saneef.com" target="_blank">Saneef</a></li>
    <li><a href="https://ko-fi.com/N4N81KP2D" target="_blank">Buy me a coffee</a></li>
    <li><a href="https://github.com/saneef/unravel/">Github</a></li>
  </ul>
</footer>
