<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{config.title}}</title>
  <link rel="stylesheet" href="/styles/main.css">
  {% if resolvedUrl and resolvedUrl.status === 'ok' %}
  <meta http-equiv="Refresh" content="2; url='{{ resolvedUrl.target }}'" />
  {% endif %}
  <meta name="generator" content="{{ eleventy.generator }}">
</head>
<body>
	{% block content %}
    <div class="container">
      <div class="content flow flow-space-500">
        <a href="/" class="logo">{% include 'logo.svg' %}</a>
        {{ content | safe }}
      </div>
    </div>
  {% endblock %}
</body>
</html>
